.logo-container {
display: flex;
flex-direction: row;
justify-content: center;
align-items: baseline;
margin-top: 6%;
padding-bottom: 6%;

}

.logo-reel {
    height: 7%;
    max-height: 150px;
    width: 7%;
    padding-inline-end: 20px;
}

.logo-reel:hover {
    transform: translate(0,-30px);
    
}

