.portfolio-item {
    min-width: 30%;
    height: 550px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 7.5px 15px;
    overflow: hidden;
    z-index: 1;
  
    &:hover {
      
      & .background-image {
        transform: scale(1.05);
        transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      }
  
    }
  
    &.large {
      height: 380px;
    }
  
    &:first-child {
      margin-right: 7.5px;
    }
  
    &:last-child {
      margin-left: 7.5px;
    }
  
    .background-image {
      border-radius: 5%;
      width: 30%;
      height: 70%;
      margin-right: 50px;
      background-size: cover;
      background-position: center;
      -webkit-box-shadow: 10px 10px 27px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 10px 10px 27px 0px rgba(0,0,0,0.75);
      box-shadow: 10px 10px 27px 0px rgba(0,0,0,0.75);
    }
  }  
.content {
      flex-direction: row;
      height: 200px;
      width: 300px;
      padding: 0 25px;
      margin-left: 130px;
      background-color: #34495e;
      border-radius: 6px;
      border: thin;
      border-color: white;
      opacity: 0.9;
      font-size: 18px;
      transition: width 0.2s;
      transition: height 0.2s;
      transition: margin 0.2s;
      -webkit-box-shadow: 10px 10px 27px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 27px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 27px 0px rgba(0,0,0,0.75);

      .webtitle {
        font-weight: bold;
        margin: 0 6px 0;
        margin-top: 25px;
        font-size: 22px;
        color: whitesmoke;
        text-align: center;
        font-family: 'KoHo', sans-serif;
      }
  
      .subtitle {
        font-weight: lighter;
        font-size: 16px;
        text-align: center;
        color: whitesmoke;
        font-family: 'KoHo', sans-serif;
      }
.image-reel {
  flex-wrap: row;
}
    }
  

